[MESSAGES CONTROL]
disable=import-error,
        fixme,
        unused-argument,
        duplicate-code,
        too-many-arguments,
        too-many-locals,
        too-many-statements,
        too-many-branches,
        too-many-nested-blocks,
        too-many-public-methods,
        too-few-public-methods,
        no-value-for-parameter,
        line-too-long,
        super-with-arguments,
        broad-except,
        no-member,
        attribute-defined-outside-init,
        relative-beyond-top-level,
        wildcard-import,
        too-many-return-statements,
        missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        wrong-import-order,
        use-dict-literal,
        protected-access,

[DESIGN]
max-attributes=12
